spring:
  output:
    ansi:
      enabled: ALWAYS
  application:
    name: Server
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres_cryptography
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    dynamic: true

jwt:
  secret: bWVvd1NlY3JldEJhc2U2NG1lb3dTZWNyZXRCYXNlNjQ=
  expiration: 86400

logging:
  level:
    org:
      springframework:
        security: DEBUG